docker/n8n/workflows/payment-received.json
{
  "name": "Payment Received",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-received",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "payment-received"
    },
    {
      "parameters": {
        "functionCode": "const payment = $input.item.json;\nconst appointment = payment.appointment;\nconst client = payment.client;\n\nconst receiptMessage = `Payment Received!\n\nAmount: Rs.${payment.amount}\nMethod: ${payment.method}\nDate: ${new Date().toLocaleDateString()}\n\nReference: ${payment.referenceNumber || 'N/A'}\n\nThank you for your payment. Please retain this confirmation for your records.\n\nAB & Co. Legal`;\n\nreturn {\n  json: {\n    clientEmail: client.email,\n    clientName: `${client.firstName} ${client.lastName}`,\n    amount: payment.amount,\n    method: payment.method,\n    referenceNumber: payment.referenceNumber,\n    appointmentDescription: appointment.description,\n    receiptMessage\n  }\n};"
      },
      "name": "Process Payment Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "subject": "Payment Confirmation - AB & Co. Legal",
        "emailHtml": "<h2>Payment Confirmation</h2><p>Dear {{ $json.clientName }},</p><p>We have received your payment.</p><table style='border-collapse: collapse; width: 100%;'><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Amount</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>Rs.{{ $json.amount }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Method</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.method }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Reference</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.referenceNumber || 'N/A' }}</td></tr></table><p>Please retain this email as your payment confirmation.</p><p>Best regards,<br>AB & Co. Legal</p>",
        "toEmail": "={{ $json.clientEmail }}",
        "fromName": "AB & Co. Legal"
      },
      "name": "Send Payment Receipt",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "subject": "Payment Received - {{ $json.amount }}",
        "message": "Payment received from {{ $json.clientName }}. Amount: Rs.{{ $json.amount }} via {{ $json.method }}. Reference: {{ $json.referenceNumber || 'N/A' }}",
        "fromPhone": "lawyer"
      },
      "name": "Notify Lawyer",
      "type": "n8n-nodes-base.waha",
      "typeVersion": 1,
      "position": [750, 500],
      "credentials": {
        "wahaApi": "waha"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Process Payment Data", "type": "main", "index": 0 }]]
    },
    "Process Payment Data": {
      "main": [
        [
          { "node": "Send Payment Receipt", "type": "main", "index": 0 },
          { "node": "Notify Lawyer", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["payments", "receipts", "notifications"]
}